
/*
	New Perspectives on HTML and CSS
	Tutorial 3
	Case Problem 3

	Civil War History Text and Color Style
	Author: Oliver R.
	Date:	Oct 22, 2014

	Filename: cw_styles.css
	Supporting Files: cw_layout.css

*/
@import url(cw_layout.css)

