/*
	New Perspectives on HTML and CSS
	Tutorial 6
	Case Problem 1

	Comment Form Style Sheet
	Author: Oliver R
	Date:   Nov 20, 2014

	Filename:         comments.css
	Supporting Files: go.png, stop.png

*/

/*11*/

fieldset {
	background-color: rgb(245,245,255);
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	width: 90%;
	
}

/*12. */

label {
	display: block;
	float: left;

	font-size: 0.9em;
	width: 100%;
	
   margin-top: 5px;
   margin-bottom: 5px;

}

/*13 */
input {
	display: block;
	float: right;
	font-size: 0.9em;
	width: 55%;
	margin-left:10px ;
	margin-right: 10px;
}

textarea {
	display: block;
	float:right;
	font-size: 0.9em;
	width: 55%;
	margin-left: 10px;
	margin-right: 10px;
	height:150px;
}

/*14*/
input[type="submit"]{
	display: block;
	
	float: none;
	height: 30px;
	width: 200px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

/*15*/

input:focus, select:focus, textarea:focus {
	background-color: rgb(225, 225, 240);
}

/*16*/
input:focus:valid {
	background: rgb(225, 225, 240) url(go.png) bottom right no-repeat;
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;	
}

/*17*/
input:focus:invalid {
	background: rgb(225, 225, 240) url(stop.png) bottom right no-repeat;
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;	
}



