/*
	New Perspectives on HTML and CSS
	Tutorial 3
	Case Problem 2

	Mountain Wheels Text and Color Style
	Author: Oliver Rodriguez
	Date:	Oct 22, 2014

	Filename: mw_layout.css
	Supporting Files: none

*/

@font-face {
	font-family: 'Tahoma, Geneva, Sans Serif';
}


